.navbar-container {
    background-color: black;
    border-bottom: 1px solid #e6e6e6;
    height: 75px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    padding: 0%;
    left: 0;
}

.send-button {
  background: #FF4742;
  border: 1px solid #FF4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  bottom: 0px;
  right: 10px;
  position: absolute;
}

