body {
  background: rgb(247, 223, 223); /*og color is (255,243,243,1);*/
  position: absolute;
  height: 100%;
  width: 100%
}

#signInContainer {
  position: relative;
  margin: auto; /* horizontally centre */
  width: 50%;

  /* vertically centre*/
  top: 50%; 
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

  /* centres elements within container in the middle*/
  display: grid;
  /* grid-template-columns: repeat(2, 1fr); grid will have 2 cols, each col take up 1 fraction (50%) of this container */
  justify-content: center;
  align-items: center; 
}

#signIn {
  font-family: Lexend Deca;
  font-weight: regular;
  font-size: 60px;
  text-align: center;
}

#manage {
  margin-top: 10%;
  font-family: Lexend Deca;
  font-weight: Regular;
  font-size: 15px;
  text-align: center;
}

.inputBox {
  background: black;
  border-radius: 10px;
  color: white;
  font-family: Lexend Deca;
  font-weight: Regular;
  font-size: 15px;

  display: grid; /* vertically aligning text in input box*/
  align-items: center;

  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
  margin-top: 10%;

  height: 45px;
  width: 95%;
  padding-left: 5%;
}

.inputBox::placeholder {
  color: white;
  font-family: Lexend Deca;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
}

#checkbox {
  background: black;
  border-radius: 5px;
  width: 20px;
  height: 20px;
  margin-top: 5%;
  display: inline;
}

#text {
  font-family: Montserrat;
  font-weight: bold;
  position: relative;
}

#login {
  background: rgba(255,194,194,1); /* og is rgba(255,194,194,1);*/
  border-radius: 10px;
  color: black;
  text-align: center;

  display: grid;
  align-items: center;

  font-family: Lexend Deca;
  font-weight: bold;

  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
  margin-top: 10%;

  height: 45px;
}

#login:hover {
  cursor: pointer;
}